/* global css properties */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 16px Arial;/* global font defaults */
	background-repeat: no-repeat;
	background-size: cover;
}

html, body {
	min-height: 100%;
	height: 100%;
}

h1 {
	font-size: 1.80em;
}

h2 {
	font-size: 1.75em;
}

p {
	font-size: 1.25em;
	line-height: 1.5em;
}

form {
	display: block;
}

a {
	text-decoration: none;
	color: blue;
}

a:link a:visited a:hover{
	color: blue;
}

a:active {
	color: purple;
}



.button { /* For consistent button format */
	outline: none;
	border: 1px solid black;
	background-color: blue;
	color: white;
	font-size: 1.2em;
	border-radius: 1px;
	padding: 5px;
	box-shadow: none;
	transition: box-shadow 0.05s;
}

.button:hover { /* Generic button hovering effect */
	box-shadow: 0px 0px 3px 2px rgba(100,100,100,0.35);
	
}

.image { /* Generic image css */
	border: 1px solid black;
	transition: box-shadow 0.25s, border 0.25;
}

.image:hover { /* Generic image hovering css transition */
	box-shadow: 0px 0px 3px 2px rgba(100,100,100,0.35) inset;
	border: 2px solid blue;
}

.text-input { /* For consistent input-box format */
	resize: none;
	outline: none;
	border:none;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 4px;
	padding: 15px 20px;
	font-family: Verdana;
	line-height: 1.25em;
	font-size: 1.20em;
	overflow: hidden;
}

.text-input:hover {
	border-color: blue;
	box-shadow: 0px 0px 2px 1px rgba(100, 100, 100, 0.35) inset;
}

.align-right {
	text-align: right;
}

.align-center, .text-center {
	text-align: center;
}

.center-div {
	margin: auto;
}

.body-container {
	background-color: blue;
	min-height:100%;
}

.content-container {
	background-color: green;
	padding-bottom: 30px;
	max-width:1024px;
	min-height: 1000px;
	height:100%;	
}

.alignment-container {
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 40px;
}

.make-flex {
	display: flex;
}

.flex-vert {
	flex-direction: column;
}

.flex-horiz {
	flex-direction: row;
}

.flex-right {
	justify-content: flex-end;
}

.center-vert {
	align-items: center;
}

.self-right, .self-top	{
	align-self: flex-end;
}

.self-left, .self-bottom {
	align-self: flex-start;
}

/* question/answer forum css */

#question-container {
	background-color: pink;
	padding-left: 25px;
	width: 100%;
}

#question {
}

#question-body {
	margin: 50px 15px 0px 25px;
}

#user-asked-div {
	background-color: orange;
	min-width: 150px;
}

#answers-container {
	min-height:300px;
	background-color:purple;
	margin-left: 40px;
	margin-top: 50px;
}

#user-asked-info {
	padding-right: 15px;
}

#answer-logo {
	margin-top:50px;
}

#submit-answer-div{
	padding: 20px;
	padding-right: 80px;
	margin-top: 40px;
	width: 100%;
	height: 300px;
	background-color: pink;
}

#answer-form {
	height: 100%;
	
}

#answer-textarea {
	width: 100%;
	height: 80%;
}

#submit-button {
	margin-top: 10px;
	width: 150px;
}

.answers{
	margin-bottom: 10px;
	min-height: 150px;
	background-color: gray;
}

.user_answered_div {
	background-color:orange;
}


.answer-div {
	background-color: red;
	flex: 1;
}

.answer-p {
	padding: 10px;
	
}

.user-metrics
{
	margin-top: 10px;
	min-width: 125px;
	font-size: 1.0em;
}

/* user profile page css */

#user-area-div {
	min-height: 1000px;
	min-width: 100%;
	background-color: pink;
	
}

#user-profile-div {
	background-color: yellow;
	min-width: 250px;
	max-width: 350px;
	min-height: 500px;
	align-self: flex-start;
	padding: 40px 20px 30px 20px;
	border-right: 1px solid rgba(100, 100, 100, 0.35);
}

#user-stats-div {
	flex: 1;
	padding: 20px 30px;
	background-color: orange;
	
}

#logo-div {
	height: 200px;
	width: 200px;
	background-image: url("logos/spring-patterns_02.jpg");
}

#user-profile-metrics {
	width: 100%;
}

#user-profile-metrics > p {
	word-wrap: break-word;
	min-width: 250px;
	padding-top: 2px;
	padding-bottom: 5px;
	font-size: 1.0em;	
	letter-spacing: 0.050em;
}

#user-profile-metrics > p:first-child {
	margin-top: 5px;
	font-size: 1.50em;
}

#view-title {
	background-color: red;
	
}

.view-result {
	margin-top: 20px;
	background-color: Chartreuse;
}

.view-result-p, .date-result-p{
	font-size: 0.90em;
	background-color: white;
	line-height: 1.75em;
}

.date-result-p {
	
}

/* =====================================================================================================
    HOME PAGE 
====================================================================================================== */

/* ------------ Hero Header ------------*/

#hero-header {
    width: 100%;
    background-color: #fbf7f7;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.jumbotron {
    margin-bottom: 0px;
}

.hero-text {
    text-align: center;
}

#btn-ask-question {
    display: block;
    width: 30%;
    margin: 60px auto;    
}

.section-motto {
    margin: 60px 30px 45px;
    padding: 60px 0 0;
}

.questions-tab {
    overflow: hidden;
}

.questions-all > div:not(:first-child) {
    display: none;
}

.summary {
    float: left;
    margin-right: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f4;
}


.summary-question-tags {
    float: left;
}

.summary-question-user {
    float: right;
    padding-top: 5px;
    padding-right: 30px;
}





