/* Custom fonts */

@font-face {
	
	font-family: karma;
	src: url('fonts/Karma-Medium.ttf');
	
}

@font-face {
	
	font-family: questrial;
	src: url('fonts/Questrial-Regular.ttf');
	
}

/* global css properties */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 16px karma;/* global font defaults */
}

html, body {
	min-height: 100%;
	height: 100%;
}

h1 {
	font-size: 1.80em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 2.5em;
	margin: 20px auto 10px;
    text-align: center;
}

p {
	font-size: 1.25em;
	line-height: 1.5em;
}

form {
	display: block;
}

/* Should be used to facilitate similar background color across pages */
.std-bg-color {
	
	background-color: rgba(255,218,171, 0.10);
	
}

.std-input-font {
	
	font-family: karma;
	
}

.hover-text {
	
	
	
}

.button { /* For consistent button format */
	outline: none;
	border: 1px solid black;
	background-color: blue;
	color: white;
	font-size: 1.2em;
	border-radius: 1px;
	padding: 5px;
	box-shadow: none;
	transition: box-shadow 0.05s;
	font-family: "Times New Roman";
}

.button:hover { /* Generic button hovering effect */
	box-shadow: 0px 0px 3px 2px rgba(100,100,100,0.35);

}

.text-input { /* For consistent input-box format */
	resize: none;
	outline: none;
	border:none;
	border: 1px solid rgb(100, 100, 100);
	padding: 15px 20px;
	line-height: 1.15em;
	font-size: 1.15em;
	overflow-y: auto;
	height: 150px;
}

.text-input:hover {
	border-color: blue;
	box-shadow: 0px 0px 2px 1px rgba(100, 100, 100, 0.35) inset;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.center-div {
	margin: auto;
}

.body-container {
	
	margin-top: 40px;
	min-height:100%;
}

.content-container {
	
	padding-bottom: 30px;
	max-width:1024px;
	height:100%;
}

.alignment-container {
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 40px;
}

.make-flex {
	display: flex;
}

.flex-vert {
	flex-direction: column;
}

.flex-horiz {
	flex-direction: row;
}

.flex-right {
	justify-content: flex-end;
}

.center-horiz {
	
	justify-content: center;
	
}

.center-vert {
	align-items: center;
}

.self-right {
	align-self: flex-end;
}

.self-left {
	align-self: flex-start;
}

/* Homepage */

.tab-link:link, .tab-link:visited {
	
	color: #ffdaab;
	
}

.card-title {
	
	text-align: center;
	margin-bottom: 10px;
	font-size: 2em;
	
}

.card-header {
	
	border-bottom: 1px solid rgba(100,100,100,0.5);
	box-shadow: 0px 0px 10px 1px rgba(100,100,100,0.1) inset;
	background-color: 	rgba(128,0,32, 0.85);
	justify-content: center;
	margin-bottom: 30px;
	
	
}

.card-header form{
	
	
	min-width: 100px;
	height: 35px;
}

.first-tab {
	
	margin-right: 30px;
	
}



.tab-link:hover {
		
	color: white;
	
}

.tab-link {
	
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 7px;
	transition: color 0.2s;
	
}

.tab-link:link {
	
	text-decoration: none;
	
}

.q-container {
	
	height: auto;
	min-height: 100px;
	margin-bottom: 15px;
	max-width: 720px;
	box-shadow: 0px 0px 50px 3px rgba(100,100,100,0.1) inset;
	border-radius: 5px;
	border: 1px solid rgba(100,100,100,0.2);
	transition: box-shadow 0.2s, border 0.2s;
}

.q-container:hover{
	
	border: 1px solid rgba(36,129,161, 0.2);
	box-shadow: 0px 0px 50px 3px rgba(36,129,161, 0.2) inset; 
	
}

.q-container:hover > .q-right > .q-link{
	
	left: 10px;
	
}

.q-left-bar {
	/*
	flex: 1;
	background-color: black;
	height: auto;
	max-width: 5px;
	*/
}

.q-right {
	
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	flex: 1;
	
}

.questions-all {
	
	height: auto;
	
	border: 1px solid rgba(100,100,100,0.5);
}

.vote-span {
	
	color: rgb(255,215,0);	
	
}

.sub-score {
	width: 150px;
	padding-right: 20px;
}

.ans-span {
	
	margin-left: 5px;
	color: rgb(50,205,50);
	
}

.q-title {
	
	font-family: questrial;
	position: relative;
	left: 0px;
	padding-top: 10px;
	margin: 2px 0px 0px 0px;
	flex: 1;
	transition: left 0.2s;
}



.q-link {
	
	font-size: 1.0em;
}

.q-link:link {
	
	text-decoration: none;
	
}

.bottom-meta {
	
	margin-right: 40px;
	
}

.user-a {
	
	color: 	rgb(36,129,161);
	
}

.q-link {
	
	color: rgb(62,29,12);
	
}

.user-a:link {
	
	text-decoration: none;
	
}

.span-val {
	
	color: black;
	
}


/* question/answer forum css */

#question-container, .answer-container {
	width: 100%;
}

#question-votes, .answer-votes {
	padding: 10px;
	width: 50px;
	height: 125px;
	justify-content: space-between;
}

#q-upvote,
.upvote {
	
	color: green;
	
}

#q-downvote,
.downvote {
	
	color: red;
	
}

#q-upvote:hover,
#q-downvote:hover,
.upvote:hover,
.downvote:hover {
	
	cursor: pointer;
	
}

.vote {
	
	text-align: center;
	margin: 0px;
}

.post-entry-sep {
	
	margin-top: 15px;
	border-bottom: 1px solid rgba(26,94,118,0.50);
	
}

#question,
.answer {
	flex: 1;
	padding: 15px 15px 15px 25px;
	/*background-color: rgb(234, 247, 250); *//* light blue */
}


#question-title {
	font-size: 1.50em;
	font-style: italic;
}


#question-body {
	margin: 15px 15px 0px 25px;
	font-size: 0.90em;
}

#user-asked-div
{
	align-self: flex-end;
}

#user-asked-info, .user-answer-info {
	
	font-size: 0.75em;
	
}

.user-answer-div {
	
	align-self: flex-start;
}

.user-answer-info {
	margin-bottom: 0px;
	
}

.answer-body {
	
	margin:	15px 15px 0px 15px;
	font-size: 0.90em;
	letter-spacing: 0.25px;
	
}


#user-asked-info {
	
	margin: 0px;
}

#answers-container {
	min-height:300px;
	margin-left: 40px;
	margin-top: 30px;
}


#answer-logo {
	font-size: 1.30em;
	margin-top:50px;
}

#submit-answer-div{
	padding: 20px;
	padding-right: 80px;
	margin-top: 40px;
	width: 100%;
	height: 300px;
}

#answer-form {
	height: 100%;
}

#answer-textarea {
	width: 100%;
	height: 80%;
}

#submit-button {
	margin-top: 10px;
	width: 150px;
}

.qa-shadow {
	box-shadow: 0px 0px 2px 1px rgba(100, 100, 100, 0.30);

}

.answers{
	margin-bottom: 10px;
}

.user_answered_div {
}


.answer-div {
	border-radius: 3px;
	margin-right: 100px;
	padding: 30px 30px 10px 30px;
	max-width: 750px;
	background-color: rgb(234, 250, 234);
	flex: 1;
}

.answer-p {
	font-size: 0.95em;
}

.user-metrics-answer
{
	font-size: 0.85em;
}

/* User Profile Page */

#user-area-div {
	min-height: 1000px;
	min-width: 100%;
	
}

#user-profile-div {
	background-color: rgb(234, 247, 250);
	min-width: 250px;
	max-width: 350px;
	min-height: 500px;
	align-self: flex-start;
	padding: 40px 20px 30px 20px;
}

#user-stats-div {
	flex: 1;
	padding: 20px 30px;		
}

#logo-div {
	height: 200px;
	width: 200px;
	background-image: url("/spring-patterns_02.jpg");
	background-size: cover;
}

#user-profile-metrics {
	width: 100%;
}

#user-profile-metrics > p {
	word-wrap: break-word;
	min-width: 250px;
	padding-top: 2px;
	padding-bottom: 5px;
	font-size: 0.90em;	
	letter-spacing: 0.050em;
}

#user-profile-metrics > p:first-child {
	margin-top: 5px;
	font-size: 1.50em;
}

#view-title {

}

.view-result {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(100,100,100,0.30);
}

.view-result-p, .date-result-p{
	font-size: 0.90em;
}

.date-result-p {
	font-style: italic;
}

.view-result-p > a {
	font-size: 1.0em;
	color: black;
	text-decoration:none;

}

.view-result-p > a:hover {
	color: purple;

}

.date-result-p {
	
}

/* Old Navbar CSS
.header{
	display:flex;
	align-items: center;
	background-color: #f2f2f2;
}

.topnav{
	flex:1;
}
.ul-topnavbar{
	display :flex;
	align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-align: center;
}

.ul-topnavbar > li > a{
	color: #666666;
}

.logo {
	visibility: hidden;
}



li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
		font-weight: bold;
}

}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #3399FF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #3399FF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login-btn-li{
	color: black;
}

.login-btn {
	color: black;
	padding: 14px 28px;
	margin: 8px 0;
	cursor: pointer;
	width: 100%;
}

.login-btn:hover {
    background-color: #CAEBF2;
	color: #666666;
}

.signup-btn-li{


}

.signup-btn {
	color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
	border-color: black;
}

.signup-btn:hover {
	background-color: #CAEBF2;
    color: white;
}

.login-signup-div{
	display: flex;
	align-items: center;
	margin-right : 20px;
}
.login-div{
	margin-right: 10px;
}

.date-result-p {
	
}


*/

#navbar {
	
	position: relative;
	min-height: 55px;
	background-color: #1a5e76;
	padding-left: 20px;
	padding-right: 50px;
	box-shadow: 0px 1px 10px 1px rgba(100,100,100,0.5);
	
}

.parent-link {
	min-width: 100px;
	color: #ffdaab;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 0.2s, border-bottom 0.2s;
}

.parent-link span {
	
	position: absolute;
	display: flex;
	top: 50%;
	transform: translate(0, -50%);
	
}

.parent-link:hover {
	color: white;
	text-decoration: none;
	border-bottom: 3px solid #ffdaab;
}

#navbar div {
	align-items: center;
}

#navbar, #nav-standard-div, #nav-user-div{
	justify-content: space-between;
	
}

#nav-search-div {
	
	justify-content: center;
	
}

#nav-standard-div {
	max-width: 500px;
}

#nav-search-div {
	width: 40%;
	
}

#nav-user-div{
	width: auto;
	min-width: 200px;
}

.search-box {
	
	width: 90%;
	
}

.search-box-div{
	display: flex;
	min-width: 20%;
}

.search-box input[type=text] {
		padding: 10px;
	    font-size: 17px;
	    border: 1px solid grey;
	    width: 80%;
	    background: #f1f1f1;
	}

.search-box button {
	    width: 20%;
	    padding: 10px;
	    background: #000000;
	    color: white;
	    font-size: 17px;
			float : right;
	    border: 1px solid grey;
	    border-left: none;
	    cursor: pointer;
	}

	.search-box button:hover {
	    background: #3399FF;
	}

	.search-box::after {
	    content: "";
	    clear: both;
	    display: table;
	}
}


/* =====================================================================================================
    HOME PAGE 
====================================================================================================== */

/* ------------ Colors ------------*/


.summary-question-hyperlink a:link, 
.summary-question-hyperlink a:visited,
.summary-question-user a:link, 
.summary-question-user a:visited {
    color: #666;
}

.summary-question-hyperlink a:hover, 
.summary-question-hyperlink a:active,
.summary-question-user a:hover, 
.summary-question-user a:active {
    text-decoration: none;
	color: #192960;
}

.summary-question-tags a:link,
.summary-question-tags a:visited {
    background-color: #20a7bc;
    border-color: #20a7bc;
}

.summary-question-tags a:hover,
.summary-question-tag a:active {
    background-color: #149bb0;
    border-color: #149bb0;
}

.summary span {
    background-color: #20a7bc;
}

.summary-vote {
     width: 100%;
  
    overflow: hidden;
    background-color: #fff;
}

.summary-vote, 
.summary-answer, 
.summary-view {
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2px;
    color: #666;
    transform: scale(1.0);
    transition: transform 1.5s, opacity 1.5s;
}

.summary-vote:hover, 
.summary-answer:hover, 
.summary-view:hover {
    transform: scale(1.20);
}

/* ------------ Content Margins ------------*/

.card {
    box-shadow: 0px 10px 28px -4px rgba(234,247,250,1); 
}
.questions-all {
    margin: 40px 50px;
}

.summary {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #f4f4f4;
}

.summary-question-tags {
    float: left;
}

.summary-question-user {
    float: right;
    padding-top: 5px;
    padding-right: 30px;
}

.summary-question-hyperlink {
    margin-bottom: 15px;
    text-align: justify;
    line-height: 150%;
}



.override-bootstrap{
	vertical-align: baseline;
}


/* ------------ Hero Header ------------*/

#hero-header {
    width: 100%;
    background-color: #fbf7f7;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.jumbotron {
    margin-bottom: 0px;
}

.hero-text {
    text-align: center;
}

#btn-ask-question {
    display: block;
    width: 30%;
    margin: 60px auto;    
}

.section-motto {
    margin: 60px 30px 45px;
    padding: 60px 0 0;
}

/* ------------ Questions tab ------------*/

/*

.questions-tab {
    overflow: hidden;
}

.questions-all > div:not(:first-child) {
    display: none;
}
*/

/*------------------------------------
----------Login temporary css ---------
--------------------------------------*/


	
	.login_form{
		background-color: #eaf7fa;
		border: 3px solid #f1f1f1;
	}
	
	.login_body-container {
		padding: 16px;
		margin: 2%
	}
	.login_container {
		padding: 16px;
		margin: 5%

	}

	.login_title_img_container {
		text-align: center;
		margin: 24px 0 12px 0;
	}
	
	input[type=email], input[type=password] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}


	button:hover {
		opacity: 0.8;
	}

	.loginbtn {
		background-color: #3190e2;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
	}
	
	.signup-msg {
		text-align: center;
		
	}
	
	.cancelbtn {
	
		color: white;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		
		padding: 10px 18px;
		background-color: #ff3b3f;
		width: 33%;
		relative: left;
		   
	}

	.sign_upbtn {

		color: white;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		
		padding: 10px 18px;
		background-color: #666;
		width: 33%;
		float: right;
	}

	img.avatar {
		width: 15%;
		border-radius: 10%;
	}

	#cookie-msg	{
		
		margin-top: 10px;
		margin-bottom: 10px;
		
	}
	
	#login-msg {
		margin-bottom: 10px;
		max-width: 80%;
	}
	
/* Contact page */

#contact-form > input{

	margin: 10px 0px;
}

#contact-form > select{

	margin: 10px 0px;
}

#contact-form > textarea{

	margin: 10px 0px;
}

/* Footer */
.footer{
	background-color: black;
	color: white;
	padding: 10px 0px 15px 0px;
    width: 100%;
}

.footer_link  p {
	margin-bottom: 1rem;
}
.footer-text{
	color: rgba(255,255,255,0.5);

}


/* Ask Page */

#ask-form {
	width: 80%;

}

#question-title-form{
	padding: 10px;
	display:block;
	width: 100%;
}

#question-body-form{
	display:block;
}

#submit-ask {
	margin-top: 15px;
	width: 100px;
}

.ask-form-p {
	margin: 10px 0 10px 0;
	font-family: karmaLight;
	font-family: "Times New Roman";
}
/* About us page/ About us */

#about {
	border-radius: 8px;
	padding: 10px 15px 1px 30px;
	background-color: rgb(234, 247, 250); /* light blue */
}

#about-body {
	max-width: 900px;
	margin: 40px auto;
	font-family: Verdana;
	line-height: 1.5em;
	font-size: 1.2em;
	padding: 10px;
}


/* About us page / meet the team*/

#team {
	border-radius: 8px;
	padding: 10px 15px 10px 30px;

}

img.circular--square {
  width:  176px;
  height: 180px;
  display: block
  background-size: contain;
  background-repeat: no-repeat;;
  border-radius: 50%;
}
.column {
    float: left;
    width: 50%;
    margin-bottom: 50px;
    padding: 10px 100px;
    text-align: center;
}

#team-text {
	font-size: 1.4em;
	color: rgb(0, 0, 0);
}



/* Signup Page CSS */

.signup_textbox {
	width: 100%; 
	border: 1px solid #ccc;
	margin: 8px 0;
	padding: 6px 20px !important;
	background-color: white;
}

.signup_textbox:hover {
	border-color: #3190e2;
	box-shadow: 0px 0px 2px 1px rgba(100, 100, 100, 0.35) inset;
}
.signup_title {
	color: #000;
	font-size: 2.5em;
	text-align: center;
}

.signup_left {
	color: #000;
	width: 25%;
}

.signup_right {
	color: #000;
	width: 25%;

}

.signup_text-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.signup_button {
	display: block;
	margin: auto;
	text-align: center;
	background-color: #3190e2;
	font-weight: bold;
	color: white;
	padding: 12px 18px;
	width: 40%;
	border: none;
	border-radius: 4px;
}


.signup_box {
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #eaf7fa; 
	box-shadow: 0px 0px 2px 1px rgba(100, 100, 100, 0.30);
}

.signup_labels {
	display: inline;
}

.signup_select {
	width: initial;
	padding: 3px 2px !important;
}

/* Signup Confirmation Page */

#confirm-info {
	font-size: 1.5em;
	
}

/* Not Logged In Message - For form prevention when not logged in */
#not-logged {
	
	width: 90%;
	height: auto;
	min-height: 300px;
}

#not-logged-msg {
	text-align: center;
	
}

#login-text-link {
	
	font: inherit;
	
}
