<div class="footer">
            <div class="footer_link align-center">
                <p>Coder Squad </p>
                <p> 
                    <a class="footer-text" href="contact.html">Contact</a> -
                    <a class="footer-text" href="https://github.com/aa-software2112/SOEN341-W2018.git">GitHub</a> 
                </p>

            </div>
        </div>

    </body>

</html>