<!DOCTYPE html>
<html>
    <head>
        <title>SOEN341 - Website</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/contact-stylesheet.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
    </head>
    <body>

        <div id="navbar" class="make-flex flex-horiz">
		
			<div id="nav-standard-div" class="make-flex flex-horiz">
				<a class="parent-link" href="/home"><span>Home</span></a>
				<a class="parent-link" href="/question_forum/1"><span>Questions</span></a>
				<a class="parent-link" href="/ask"><span>Ask</span></a>
				<a class="parent-link" href="/about"><span>About</span></a>
				<a class="parent-link" href="/contact"><span>Contact Us</span></a>
			</div>	
			
			

			<!-- Load icon library -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

			<div id="nav-search-div" class="search-box-div">
				<!-- The form -->

				<form class="search-box" action="/:" method="POST">
					<input type="text" placeholder="Search..." name="search"  pattern= ".{1,100}" 
					title="Search must be under 100 characters" required>
					<button type="submit" formaction="/search"><i class="fa fa-search"></i></button>

				</form>
			</div>
			
			
			<div id="nav-user-div" class="make-flex flex-horiz">
				<% if (typeof username === "undefined") { %>
					
		
					<a class="login-btn parent-link" id="login-button" href="/login"><span>Log in</span></a>
					<a class="signup-btn parent-link" id="signup-button" href="/sign_up"><span>Sign up</span></a>
		
				<% } else { %>
			
					<a class="parent-link" href="/user_profile/"><span><%= username %></span></a>
					<a class="login-btn parent-link" id="logout-button" href="/logout"><span>Log out</span></a>

				<% } %>
			
			</div>
		</div>