<!DOCTYPE html>
<html>
    <head>
        <title>SOEN341 - Website</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/contact-stylesheet.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
    </head>
    <body>

        <div id="navbar" class="make-flex flex-horiz">
		
			<div id="nav-standard-div" class="make-flex flex-horiz">
				<a href="/home">Home</a>
				<a href="/question_forum/1">Questions</a>
				<a href="/ask">Ask</a>
				<a href="/about">About</a>
				<a href="/contact">Contact Us</a>
			</div>	
			
			

			<!-- Load icon library -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

			<div id="nav-search-div" class="search-box-div">
				<!-- The form -->

				<form class="search-box" action="/:" method="POST">
					<input type="text" placeholder="Search..." name="search"  pattern= ".{1,100}" 
					title="Search must be under 100 characters" required>
					<button type="submit" formaction="/search"><i class="fa fa-search"></i></button>

				</form>
			</div>
			
			
			<div id="nav-user-div" class="make-flex flex-horiz">
				<% if (typeof username === "undefined") { %>
					
		
					<a class="login-btn" id="login-button" href="/login">Log in</a>
					<a class="signup-btn" id="signup-button" href="/sign_up">Sign up</a>
		
				<% } else { %>
			
					<a href="/user_profile/"><%= username %></a>
					<a class="login-btn" id="logout-button" href="/logout">Log out</a>

				<% } %>
			
			</div>
		</div>