<!DOCTYPE html>
<html>
    <head>
        <title>SOEN341 - Website</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/contact-stylesheet.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
    </head>
    <body>

        <div class="header">

            <div class="topnav">
                <ul class="ul-topnavbar">
                    <a class="logo" href="home_page.html"><img class="override-bootstrap" src="LOGO CODING SQUAD.jpg" alt="Logo" height= 50px width= 150px></a>
                    <li><a href="home_page.html">Home</a></li>
                    <li><a href="forum_page.html">Questions</a></li>
					<li><a href="ask_question.html">Ask</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="user_profile.html">User Profile</a></li>
                    <!-- Load icon library -->
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                    <div class="search-box-div">
                        <!-- The form -->
                        <form class="search-box" action="action_page.php">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <!-- Dropdown menu -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Help ?</a>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </li>

                    <div class="login-signup-div">
                        <div class="login-div">
                            <li class= "login-btn-li">
                                <a class="login-btn" id="login-button" href="Login_page.html">Log in</a>
                            </li>
                        </div>

                        <div class"signup-div">
                            <li class= "signup-btn-li">
                                <a class="signup-btn" id="signup-button" href="sign_up.html">Sign up</a>
                            </li>
                        </div>

                    </div>

                </ul>
            </div>
        </div>