
	<div class="body-container">
		<div class="content-container center-div">
			<div class="alignment-container">
				
				<div id="not-logged" class="center-div make-flex center-vert center-horiz std-bg-color">
					
					<h1 id="not-logged-msg">
						<a id="login-text-link" href="/login">Login</a> before posting!
					</h1>
					
				</div>
				
			</div>
		</div>
	</div>
