
	<div class="body-container">
		<div class="content-container center-div">
			<div class="alignment-container">
				
				<div id="not-logged" class="center-div make-flex center-vert center-horiz">
					
					<a class="not-logged-msg" id="login-text-link" href="/login">Login before posting! </a>
					
				</div>
				
			</div>
		</div>
	</div>
