<% include partials/header %>


		<div class="body-container">
			
				<div class="alignment-container">
					<!--
					<div  id="about">
						<h3>ABOUT US</h3>
	   					 </div>
					-->
				</div>

				<div id="main-photo-container" class="row">
					<div class="make-flex flex-vert" id="team-wrapper">
						<h3>Meet The Team</h3>
						<p id="about-body">The common goal of this project is for the website to be a question and answer based forum where engineers from all over the world can come together to collaborate on problem solving. The website will be tailored to engineers, but nothing stops those from other backgrounds from asking questions. The goal is to solve those engineering questions that have been asked throughout the academic life-cycle of every engineer, allowing them to fast track their studies by clearing up ambiguous concepts.</p>
					
						<div class="make-flex team-div">
							<a class="dev-link" href="https://github.com/aa-software2112">
								<div class="teammate-div make-flex flex-vert">
								
								
								 <div id="anthony" class="circular--square">
								 
								 </div>
								  <div id="team">
									<p class="dev-name">Anthony Andreoli</p>
								  </div>
								</div>
							</a>

							<a  class="dev-link" href="https://github.com/TSer1111">
								<div class="teammate-div make-flex flex-vert">
								 <div id="tom" class="circular--square">
								 
								 </div>
								  <div id="team">
									<p class="dev-name"> Thomas Serrano</p>
								  </div>
								</div>
							</a>
							<!--
							<div class="teammate-div">
							 <img src="login-avatar.png"  class="circular--square">
							  <div id="team">
								<a id="team-text" href="https://github.com/SAA9">Saleh Ali</a>
							  </div>
							</div>
							-->
							<a class="dev-link" href="https://github.com/Legendary-Griffin">
							  
								<div class="teammate-div make-flex flex-vert">
								 <div id="nizar"  class="circular--square">
								 
								 </div>
								  <div id="team">
								  <p class="dev-name"> Nizar Belhassan </p>
									</div>
								</div>
							
							</a>
							
							<a class="dev-link" href="https://github.com/AA-97">
								<div class="teammate-div make-flex flex-vert">
								 <div id="abishand" class="circular--square">
								 
								 </div>
								  <div id="team">
									<p class="dev-name"> Abishand Ariyanayagam</p>
								  
									</div>
								</div>
							</a>
							
							<!--
							<div class="teammate-div">
							 <img src="login-avatar.png"  class="circular--square">
							  <div id="team">
								<a id="team-text" href="https://github.com/shushengfuqin">Ruochen Jia</a>
							  </div>
							</div>
							
							-->
							
							<a class="dev-link" href="https://github.com/jasonckc">
							<div class="teammate-div make-flex flex-vert">
							 <div id="jason"  class="circular--square">
							 
							 </div>
							 
							  <div id="team">
								<p class="dev-name">Jason Chung</p>
								
							  </div>
							</div>
							</a>
							
							
							<a class="dev-link" id="team-text" href="https://github.com/AleexCh">
								<div class="teammate-div make-flex flex-vert">
									<div id="alex" class="circular--square">
								 
									</div>
									<div id="team">
										<p class="dev-name"> Alexander Chung</p>
									</div>
								
								</div>
							</a>

							<a class="dev-link" id="team-text" href="https://github.com/SAA9">
								<div class="teammate-div make-flex flex-vert">
									<div id="saleh" class="circular--square">
								 
									</div>
									<div id="team">
										<p class="dev-name"> Saleh Ali</p>
									</div>
								
								</div>
							</a>

						</div>
					</div>	
				</div>
			</div>
		</div>	

<% include partials/footer %>