<% include partials/header %>


		<div class="body-container">
			
				<div class="alignment-container">
					<div  id="about">
						<h3>ABOUT US</h3>
	   					 <p id="about-body">The common goal of this project is for the website to be a question and answer based forum, where Engineers from all over the world can come together to colaborate on problem solving. The website will be tailored to Engineers, but nothing stop those from other backgrounds from asking questions. The goal is to solve those engineering questions that have been asked throughout the academic life-cycle of every engineer, allowing them to fast track their studies by clearing up ambiguous concepts.</p>
					</div>
				</div>

				<div class="alignment-container">
					<div  id="team">
						<h3>Meet The Team</h3>
						<div class="column">
	   					 <img src="Anthony.png"  class="circular--square">
	   					  <div id="team">
					        <a id="team-text" href="https://github.com/aa-software2112">Anthony Andreoli</a>
					      </div>
	   					</div>

	   					<div class="column">
	   					 <img src="login-avatar.png"  class="circular--square">
	   					  <div id="team">
					        <a id="team-text" href="https://github.com/TSer1111">Thomas Serrano</a>
					      </div>
	   					</div>
	   					<div class="column">
	   					 <img src="login-avatar.png"  class="circular--square">
	   					  <div id="team">
					        <a id="team-text" href="https://github.com/SAA9">Saleh Ali</a>
					      </div>
	   					</div>
	   					<div class="column">
	   					 <img src="login-avatar.png"  class="circular--square">
	   					  <div id="team">
					        <a id="team-text" href="https://github.com/Legendary-Griffin">Nizar Belhassan</a>
					      </div>
	   					</div>
	   					<div class="column">
	   					 <img src="login-avatar.png"  class="circular--square">
	   					  <div id="team">
					        <a id="team-text" href="https://github.com/AA-97">Abishand Ariyanayagam</a>
					      </div>
	   					</div>
	   					<div class="column">
	   					 <img src="login-avatar.png"  class="circular--square">
	   					  <div id="team">
					        <a id="team-text" href="https://github.com/shushengfuqin">Ruochen Jia</a>
					      </div>
	   					</div>
	   					<div class="column">
	   					 <img src="login-avatar.png"  class="circular--square">
	   					  <div id="team">
					        <a id="team-text" href="https://github.com/jasonckc">Jason Chung</a>
					      </div>
	   					</div>
	   					<div class="column">
	   					 <img src="Alex.jpg"  class="circular--square">
	   					  <div id="team">
					        <a id="team-text" href="https://github.com/AleexCh">Alexander Chung</a>
					      </div>
					  </div>_
					     
					</div>	
				</div>
			</div>
		</div>	

<% include partials/footer %>