<% include partials/header%>

		<% if (typeof logged !== "undefined" && logged == true) { %>
			<div class="body-container">
				<div class="content-container center-div">
					<div class="alignment-container">
					
						<div id="ask-form-div-container" class="make-flex flex-vert">
							<form class="make-flex flex-vert center-div" id="ask-form" method="post" action=<%="/ask/askform/" + String(user_id)%>>
								
								<div class="make-flex flex-horiz" id="ask-title-div">
									<p  class="make-flex flex-vert ask-form-p">
										<span>Question Title</span>
									</p>
									<input class="text-input-shadow-border std-input-font" id="question-title-form" placeholder="Write a title that clearly identifies what you are asking." name="q_title" type="text" required>
								</div>
								<!--
								<p class="ask-form-p">Question Body</p>
								-->
								<textarea class="text-input-shadow-border std-input-font center-div " placeholder="The question itself should be direct and descriptive" id="question-body-form" name="q_body" required></textarea>
								<input class="button self-right" id="submit-ask" type="submit" value="Ask!">
							</form>
						</div>

					</div>

				</div>
			</div>
		<% } else {%>
		
			<% include partials/notlogged %>
		
		<% } %>
		
		
		
<% include partials/footer %>


