<% include partials/header %>

		<% if (typeof logged !== "undefined" && logged == true) { %>
			<div class="body-container">
				<div class="content-container center-div">
					<div class="alignment-container">
					
						<div class="make-flex flex-vert">
							<form class="make-flex flex-vert center-div" id="ask-form" method="post" action=<%="/ask/askform/" + String(user_id)%>>
								<p class="ask-form-p">Question Title</p>
								<input class="std-input-font" id="question-title-form" placeholder=“Title” name="q_title" type="text" required>

								<p class="ask-form-p">Question Body</p>
								<textarea class="std-input-font center-div text-input" place holder=“Enter your questions” id="question-body-form" name="q_body" required></textarea>
								<input class="button self-right" id="submit-ask" type="submit" value="Ask!">
							</form>
						</div>

					</div>

				</div>
			</div>
		<% } else {%>
		
			<% include partials/notlogged %>
		
		<% } %>
		
		
		
<% include partials/footer %>


