<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
</head>

<body>

	<!-- The main object loaded is referenced by "forum" -->

    <% include partials/header %>
	
	<div class="body-container">
		<div class="content-container center-div">
			<div class="alignment-container">
				
				<p class="align-center">
					You requested an invalid page!
				</p>
				
			</div>
		</div>
	</div>
	
	<% include partials/footer %>

</body>
</html>