<% include partials/header %>

<!-- Jumbotron -->
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to Queue Underflow</h1>
			<p>*Not affiliated with Stack Overflow*</p>
			<p><a class="btn btn-primary btn-large" href="/questions/new">Ask a question!</a></p>
		</div>
	</header>
</div>

<hr class="style-two">

<div class="questions">
	<div class="container">
		<!-- Prints out the titles of questions -->
		<ul>
		<% for(var i = 0; i < titles.length; i++) {%>
			<li><span><button class="reply" onclick="location.href = '/reply'"><i class="fa fa-reply" aria-hidden="true"></i></button></span><%= titles[i] %></li>
		<% }; %>
		</ul>
	</div>
</div>


<% include partials/footer %>