<!DOCTYPE html>
<html>
	<head>
		<title>SOEN341 - Website</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/contact-stylesheet.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
		<script src="/scripts/cookie_check.js" type="text/javascript"></script>
	</head>
	
	<body>
		<% include partials/header_only %>

			<div class="body-container">
				<div class="content-container center-div">
					<div class="alignment-container">
					<form class="login_form" method="POST">
					
					 
					  <div class="login_title_img_container">
						
						<h1>Member Login</h1>
						
						<!--<img src="login-avatar.png" alt="Avatar" class="avatar">
						-->
						<h1 id="cookie-msg"></h1>
						
						<% if ( typeof msg !== "undefined") { %> 
							<h1 class="center-div" id="login-msg">
								<%= msg %>
							
							</h1>
						
						<% } %>
						
					 </div>

					  <div class="login_body-container">
					
						<!-- Form to login existing user -->
						<div class="label-div make-flex flex-horiz">
							<p class="ask-form-p make-flex flex-vert">
								<span>Email</span>
							</p>
							
							<input class="std-input-font text-input-shadow-border form-input" type="email" placeholder="Email" name="email" required>
						</div>
						
						<div class="label-div make-flex flex-horiz">
							
							<p  class="ask-form-p make-flex flex-vert ask-form-p">
								<span>Password</span>
							</p>							
							<input class="std-input-font text-input-shadow-border form-input" type="password" placeholder="Password" name="password" pattern= ".{6,12}" required title="Password must be between 6 and 12 characters" required>
						</div>
						<button id="login-btn" type="submit" class="loginbtn" formaction="/login">LOGIN</button>
						
					  </div>

					  <div class="login_body-container">
					  
						<a href="home_page.html"><button type="button" class="cancelbtn" formaction="/landing">Cancel </button> </a>
						
						<a href="sign_up.html"><button type="button" class="sign_upbtn" formaction="sign_up.html">Sign up</button></a>
					  
					 </div>
					
					 
					  
					</form>
					
					</div>
				</div>
			</div>
		<% include partials/footer %>
	</body>

</html>
