<!DOCTYPE html>
<html >
	
	<head>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="global.css">
	
	</head>
	
	<body>

	
	<% include partials/header %>


		<div class="content-container center-div">
			<div class="alignment-container">
			<form class="login_form" method="POST">
			
			 
			  <div class="login_title_img_container">
				
				<h1>Member Login</h1>
				
				<img src="login-avatar.png" alt="Avatar" class="avatar">
			 
			 </div>

			  <div class="login_body-container">
			
				<!-- Form to login existing user -->
				<label><b>Email</b></label>
				<input type="email" placeholder="Email" name="email" required>

				<label><b>Password</b></label>
				<input type="password" placeholder="Password" name="password" pattern= ".{6,12}" required title="Password must be between 6 and 12 characters" required>
				
				<button type="submit" class="loginbtn" formaction="/login">LOGIN</button>
				
			  </div>

			  <div class="login_body-container">
			  
				<a href="home_page.html"><button type="button" class="cancelbtn" formaction="/landing">Cancel </button> </a>
				
				<a href="sign_up.html"><button type="button" class="sign_upbtn" formaction="sign_up.html">Sign up</button></a>
			  
			 </div>
			
			 
			  
			</form>
			
			</div>
		</div>
		
	<% include partials/footer %>
		
