<% include partials/header %>

<div class="container">
	<p><h3>What is your question?</h3></p>
	<form action="/questions" method="POST">
		<p><h4>Title:</h4></p>
		<p><textarea name="title" rows="2" cols="50" placeholder="This is where your question goes (100 character max)" maxlength="100" required></textarea></p>
		<p><h4>Question:</h4></p>
		<p><textarea name="question" rows="10" cols="100" placeholder="This is where your question goes (1000 character max)" maxlength="1000" required></textarea></p>
		<p><button>Ask!</button></p>
	</form>
</div>



<% include partials/footer %>