<% include partials/header %>

<h1>This is the question page</h1>
<h3>It will list the current question opened and provide options to respond depending on if someone is logged in</h3>

<h2>Currently under construction!</h2>


<% include partials/footer %>