<% include partials/header %>

<div class="container">
	<h4>Question content goes here - need DB</h4>
	<form action="/reply" method="POST">
		<p><h4>Response:</h4></p>
		<p><textarea name="response" rows="10" cols="100" placeholder="This is where your response goes (1000 character max)" maxlength="1000" required></textarea></p>
		<p><button>Submit!</button></p>
	</form>
</div>

<% include partials/footer %>