

<% include partials/header %>

<div class="user-div" id="user-stats-div">
	<div class="center-div" id="view-title">
		<p class="align-center">
		Search Results for: INSERT SEARCHED ITEM 
		</p>
	</div>

	<!-- Loops over all question titles -->
	<% for (var i = 0; i < 10; i++) { %>
		<div class="make-flex flex-vert" id="view-results">
									
			<div class="make-flex flex-vert  view-result">
				<p class="view-result-p">
				<a href="/question_forum/666">
				Jesus! You were going to kill that guy!
				Of course, Im a Terminator.
				Listen to me very carefully, ok?
				You just cant go around killing people!
				Why?
				Cause you cant!
				Why?
				</a>
				</p>
				<p class="self-right date-result-p">
				Username - 2/4/2018
				</p>
			</div>
		</div>
	<% };%>
</div>


<% include partials/footer %>
