<% include partials/header %>

<!-- Forms -->
<div class="container">
	<div class="row">
		<!-- Form to login existing user -->
		<div class="col-lg-6 col-xs-12">
			<form action="/signlog" method="POST">
				<h3>Login</h3>
				<p><input type="email" name="email" placeholder="example@email.com" required></p>
				<p><input type="password" name="pass" placeholder="password" pattern= ".{6,12}" required title="Password must be between 6 and 12 characters" required></p>
				<p><button type="submit" formaction="/login">Submit</button></p>
			</form>
		</div>
		<div class="col-lg-6 col-xs-12">
			<!-- Form to sign up new user -->
			<form action="/signlog" method="POST">
				<h3>Sign Up</h3>
				<p><input type="email" name="newemail" placeholder="example@email.com" required></p>
				<p><input type="password" name="newpass" placeholder="password" pattern= ".{6,12}" required title="Password must be between 6 and 12 characters" required></p>
				<p><button type="submit" formaction="/signup">Submit</button></p>
			</form>
		</div>
	</div>
</div>

<% include partials/footer %>