  
   <% include partials/header %>

		<div class="body-container">
			<div class="content-container center-div">
				<div class="alignment-container">
					
					<div id="user-area-div" class="make-flex flex-row flex-left">
						<div class="user-div" id="user-profile-div">
							<div class="image center-div" id="logo-div">
							
							
							</div>
							<div class="self-top" id="user-profile-metrics">
								<p class="align-center" id="username">
								aa-software2112
								</p>
								<p class="align-center" id="fullname">
								Anthony Andreoli
								</p>
								<p class="align-center" id="date-of-birth">
								04/16/1993
								</p>
								<p class="align-center" id="country">
								Canada
								</p>
								<p class="align-center" id="questions-asked">
								Asked 1 Question(s)
								</p>
								<p class="align-center" id="questions-answered">
								Answered 0 Question(s)
								</p>
								<p class="align-center" id="redirect-questions">
									<a href="/user_profile">View Your Questions</a>
								</p>
								<p class="align-center" id="redirect-answers">
									<a href="/user_profile">View Your Answers</a>
								</p>
							
							</div>
						
						
						</div>
						
						<div class="user-div" id="user-stats-div">
							<div class="center-div" id="view-title">
								<p class="align-center">
								Your Answers / Your Questions
								</p>
							</div>
							<div class="make-flex flex-vert" id="view-results">
								
							<div class="make-flex flex-vert  view-result">
									<p class="view-result-p">
										<a href="user_profile.html">
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
										</a>
									</p>
									<p class="self-right date-result-p">
										Posted: 31/01/2018
									</p>
								</div>
							
							<div class="make-flex flex-vert  view-result">
										<p class="view-result-p">
											<a href="user_profile.html">
												What is polymorphism in Java, and how can I test it?
												What is polymorphism in Java, and how can I test it?
												What is polymorphism in Java, and how can I test it?
												What is polymorphism in Java, and how can I test it?
												What is polymorphism in Java, and how can I test it?
												What is polymorphism in Java, and how can I test it?
											</a>
										</p>
										<p class="self-right date-result-p">
											Posted: 31/01/2018
										</p>
								</div>
								
							<div class="make-flex flex-vert  view-result">
									<p class="view-result-p">
										<a href="user_profile.html">
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
										</a>
									</p>
									<p class="self-right date-result-p">
										Posted: 31/01/2018
									</p>
								</div>
							
							<div class="make-flex flex-vert  view-result">
									<p class="view-result-p">
										<a href="user_profile.html">
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
										</a>
									</p>
									<p class="self-right date-result-p">
										Posted: 31/01/2018
									</p>
								</div>
							
							<div class="make-flex flex-vert  view-result">
									<p class="view-result-p">
										<a href="user_profile.html">
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
										</a>
									</p>
									<p class="self-right date-result-p">
										Posted: 31/01/2018
									</p>
								</div>
							
							<div class="make-flex flex-vert  view-result">
									<p class="view-result-p">
										<a href="user_profile.html">
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
										</a>
									</p>
									<p class="self-right date-result-p">
										Posted: 31/01/2018
									</p>
								</div>
							
							<div class="make-flex flex-vert  view-result">
									<p class="view-result-p">
										<a href="user_profile.html">
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
										</a>
									</p>
									<p class="self-right date-result-p">
										Posted: 31/01/2018
									</p>
								</div>
							
							<div class="make-flex flex-vert  view-result">
									<p class="view-result-p">
										<a href="user_profile.html">
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
											What is polymorphism in Java, and how can I test it?
										</a>
									</p>
									<p class="self-right date-result-p">
										Posted: 31/01/2018
									</p>
								</div>
								
							</div>
						
						
						
						</div>
					
					
					
					</div>
					
					
					
					
				</div>
			</div>
		</div>

	   <% include partials/footer %>
